{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ],
    "@babel/preset-stage-2"
  ],
  "plugins": ["syntax-dynamic-import", ["@babel/plugin-transform-runtime", {"moduleName": "@babel/runtime"}]]
}
